In [1]:
# Even numbers from 1 to 20 :
i = 0

for i in range (0,21):
    if i % 2 == 0:
        print (i)

0
2
4
6
8
10
12
14
16
18
20

In [2]:
# odd numbers from 1 to 20 :
i = 0

for i in range (0,21):
    if i % 2 != 0:
        print (i)

1
3
5
7
9
11
13
15
17
19

In [4]:
# Using while loop printing even :
i = 0
while i < 21 :
        print (i)
        i += 2

0
2
4
6
8
10
12
14
16
18
20

In [ ]:
# using if under while
i = 1
while i <= 20:
    if i % 2 == 0:
        print(i)
    i += 1

2
4
6
8
10
12
14
16
18
20

In [ ]:
# Print strings :
user = input("Enter anything : ")
for i in  user :
    print (i , end=",") # Whatever you write in end="..." replaces the default newline.

m,u,h,i,b,

In [28]:
fruits = ["apple", "banana", "cherry", "mango"]

no =   1
for i in fruits :
    print(no, i)

    no += 1

1 apple
2 banana
3 cherry
4 mango

In [36]:
num = [1,2,3,4,5,6,7,8,9,12,23,43,63,12,67,42,16,82]

for i in num : 
    print (i**2) # In list arthimetric operations will be done like this in print sec not with the list directly

1
4
9
16
25
36
49
64
81
144
529
1849
3969
144
4489
1764
256
6724

In [ ]:
# Print patterns : 
for i in range (1,5):

    print ("*"2)
    i += 1

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'